h1{
   color :red;text-align: center;
}
h2{
    color:rgb(177, 16, 16);text-align 
}
p{
   color: blue;text-align

}
h2{
     color:rgb(177, 16, 16);text-align
}
p{
    color:rgb(73, 141, 252);text-align
}



    


    
